@import "../utils/mixins";
@import "../utils/variables";

.aside-footer {
  margin: 0 -8px;
  margin-bottom: -8px;
}

.aside-footer__add-list-button {
  @include reset-button;

  position: relative;
  height: 32px;
  padding-left: 32px;
  padding-right: 8px;

  display: flex;
  align-items: center;

  color: $text-color-light;
  font-size: 13px;
  line-height: 32px;
  border-radius: 4px;

  &:focus {
    @include new-outline;
  }

  &:hover {
    color: #fff;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  &:active {
    color: rgba($color: #fff, $alpha: 0.2);

    svg {
      path {
        fill: rgba($color: #fff, $alpha: 0.2);
      }
    }
  }

  svg {
    position: absolute;
    top: 50%;
    left: 8px;

    transform: translateY(-50%);
  }
}
