@mixin reset-button {
  padding: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin new-outline {
  outline: none;

  box-shadow: 0 0 0 4px #2C6C98;
}
