$tablet-width: 768px;
$desktop-width: 1024px;

$app-aside-bg-dark: #323232;
$app-main-bg-dark: #1E1E1E;

$aside-site-nav-link-bg-dark: #464646;
$text-color-light: #AEAEAE;
$text-color-white: #E2E2E2;
